
@{
    ViewBag.Title = "Index";
}

<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Welcome to my website</h1>
                    <p class="lead">Thanks for visit my website, please take look to it to know more about me.</p>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Computer Science</h1>
                    <p class="lead">My passion about technology, and computers make me feel proud of what I do every day: Software.</p>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Software Engineer</h1>
                    <p class="lead">With more that 15 years of experience in this field, and always learning something new.</p>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
</section><!--/#main-slider-->

<section id="experience">
    <div class="container">
        <div class="box first">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-apple icon-md icon-color1"></i>
                        <h4>iOS development</h4>
                        <p>This is a field that has become very popular and very interesting to me. I have worked in a couple projects using Objective C as a development language.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-ge icon-md icon-color2"></i>
                        <h4>React</h4>
                        <p>Lately I have been involved in a project where was implemented this fabulous framework React written by Facebook.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-windows icon-md icon-color3"></i>
                        <h4>Windows .NET development</h4>
                        <p>With more than 10 years working with Microsoft technologies, I have the audacity to say that I am a Senior .NET developer.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-code icon-md icon-color4"></i>
                        <h4>API</h4>
                        <p>Tons of experience developing API, and connecting and integrating multiple platforms. I always following communication and data transfer over internet, now working with Rest API y learning more about microservice architecture.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-coffee icon-md icon-color5"></i>
                        <h4>Javascript development</h4>
                        <p>I've worked with JS since the beginning, and see how this language has become on the most popular language in browsers. Many resources have born from this powerful language.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-birthday-cake icon-md icon-color6"></i>
                        <h4>Denis Cakes</h4>
                        <p>In partnership with my mother, we decided to create Denis Cakes since she has more than 7 years of experience as pastry chef. Check Out our website <a href="#experience" onclick="window.open('http://www.deniscakes.com');">www.deniscakes.com</a>, and place your order ;-)</p>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->

<section id="wishlist">
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>Wishlist</h2>
            </div><!--/.center-->
            <ul class="portfolio-filter">
                <li><a class="btn btn-primary active" href="#" data-filter="*">All</a></li>
                <li><a class="btn btn-primary" href="#" data-filter=".fitness">Fitness</a></li>
                <li><a class="btn btn-primary" href="#" data-filter=".travel">Travel</a></li>
                <li><a class="btn btn-primary" href="#" data-filter=".adventure">Adventure</a></li>
            </ul><!--/#portfolio-filter-->
            <ul class="portfolio-items col-4">
                <li class="portfolio-item apps">
                    <div class="item-inner">
                        <div class="portfolio-image">
                            <img src="Content/images/portfolio/thumb/item1.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="Content/images/portfolio/full/item1.jpg"><i class="icon-eye-open"></i></a>
                            </div>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla fitness">
                    <div class="item-inner">
                        <div class="portfolio-image">
                            <img src="Content/images/portfolio/thumb/item2.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-danger" title="Run a Half Marathon (13.2 Miles)" href="Content/images/portfolio/full/item2.jpg"><i class="icon-eye-open"></i></a>
                            </div>
                        </div>
                        <h5>Run a Half Marathon (13.2 Miles)</h5>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item fitness adventure">
                    <div class="item-inner">
                        <div class="portfolio-image">
                            <img src="Content/images/portfolio/thumb/item3.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-danger" title="Run a Complete Matahon (26.4 Miles)" href="Content/images/portfolio/full/item3.jpg"><i class="icon-eye-open"></i></a>
                            </div>
                        </div>
                        <h5>Run a Complete Matahon (26.4 Miles)</h5>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla adventure apps">
                    <div class="item-inner">
                        <div class="portfolio-image">
                            <img src="Content/images/portfolio/thumb/item4.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="Content/images/portfolio/full/item4.jpg"><i class="icon-eye-open"></i></a>
                            </div>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla travel">
                    <div class="item-inner">
                        <div class="portfolio-image">
                            <img src="Content/images/portfolio/thumb/item5.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="Content/images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>
                            </div>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item adventure travel">
                    <div class="item-inner">
                        <div class="portfolio-image">
                            <img src="Content/images/portfolio/thumb/item6.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="Content/images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>
                            </div>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla travel">
                    <div class="item-inner">
                        <div class="portfolio-image">
                            <img src="Content/images/portfolio/thumb/item5.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="Content/images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>
                            </div>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item adventure travel">
                    <div class="item-inner">
                        <div class="portfolio-image">
                            <img src="Content/images/portfolio/thumb/item6.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="Content/images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>
                            </div>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla travel">
                    <div class="item-inner">
                        <div class="portfolio-image">
                            <img src="Content/images/portfolio/thumb/item5.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="Content/images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>
                            </div>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item adventure travel">
                    <div class="item-inner">
                        <div class="portfolio-image">
                            <img src="Content/images/portfolio/thumb/item6.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="Content/images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>
                            </div>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla travel">
                    <div class="item-inner">
                        <div class="portfolio-image">
                            <img src="Content/images/portfolio/thumb/item5.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="Content/images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>
                            </div>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item adventure travel">
                    <div class="item-inner">
                        <div class="portfolio-image">
                            <img src="Content/images/portfolio/thumb/item6.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="Content/images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>
                            </div>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </li><!--/.portfolio-item-->
            </ul>
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#portfolio-->

<section id="hobbies">
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>Check Out my Hobbies</h2>
            </div><!--/.center-->
            <div id="pricing-table" class="row">
                <div class="col-sm-4">
                    <ul class="plan">
                        <li class="plan-price">Fitness</li>
                        <li>Crossfit (<a href="#hobbies" onclick="window.open('http://freakincrossfit.com/');">This is my box</a>)</li>
                        <li>Running</li>
                        <li>Table Tennis (Ping Pong)</li>
                        <li>Olympic Weightlifting</li>
                        <li class="plan-action">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#readMoreFit">Read more</button>
                        </li>
                    </ul>
                </div><!--/.col-sm-4-->
                <div class="col-sm-4">
                    <ul class="plan">
                        <li class="plan-price">Activities</li>
                        <li>Travel the World</li>
                        <li>Watch Movies</li>
                        <li>Paddleboarding</li>
                        <li>Outdoor activities</li>
                        <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Read more</a></li>
                    </ul>
                </div><!--/.col-sm-4-->
                <div class="col-sm-4">
                    <ul class="plan">
                        <li class="plan-price">Gourmet</li>
                        <li>Seafood</li>
                        <li>Sushi</li>
                        <li>Wines</li>
                        <li>Vietnamese food (Pho)</li>
                        <li>Venezuelan Arepa</li>
                        <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Read more</a></li>
                    </ul>
                </div><!--/.col-sm-4-->
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="readMoreFit">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">.col-md-4</div>
                        <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
                        <div class="col-md-2 col-md-offset-4">.col-md-2 .col-md-offset-4</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            Level 1: .col-sm-9
                            <div class="row">
                                <div class="col-xs-8 col-sm-6">
                                    Level 2: .col-xs-8 .col-sm-6
                                </div>
                                <div class="col-xs-4 col-sm-6">
                                    Level 2: .col-xs-4 .col-sm-6
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</section><!--/#pricing-->

<section id="about-me">
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>Meet Me</h2>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="member">
                            <p><img class="img-responsive img-thumbnail img-circle" src="Content/images/Enio.jpg" alt=""></p>
                        </div>
                    </div>
                    <div class="col-sm-4" style="width: 700px;text-align: left;">
                        Pellentesque habitant morbi tristique senectus et netus et<br>malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et<br>malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et<br>malesuada fames ac turpis egestas.
                    </div>
                </div>


            </div>

        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#about-us-->

<section id="contact">
    <div class="container">
        <div class="box last">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Contact Me</h1>
                    <p>If you would like to contact me, feel free and fill the form and send me a message</p>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Email address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger btn-lg">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!--/.col-sm-6-->
                <div class="col-sm-6">
                    <h1>My Address</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <address>
                                <strong>Enio Maiale</strong><br>
                                10573 SW 6TH ST<br>
                                Pembroken Pines, FL 33025<br>
                                <abbr title="Phone">P:</abbr> (305) 308-0503
                            </address>
                        </div>
                    </div>
                    <h1>Connect with me</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="social">
                                <li><a href="#contact" onclick="window.open('https://www.facebook.com/enio.maiale');"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                                <li><a href="#contact" onclick="window.open('https://plus.google.com/106468875301138172310');"><i class="icon-google-plus icon-social"></i> Google Plus</a></li>
                                <!--<li><a href="#" onclick="window.open('https://www.facebook.com/enio.maiale');"><i class="icon-pinterest icon-social"></i> Pinterest</a></li>-->
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="social">
                                <li><a href="#contact" onclick="window.open('https://www.linkedin.com/in/enio-maiale-64215032');"><i class="icon-linkedin icon-social"></i> Linkedin</a></li>
                                <li><a href="#contact" onclick="window.open('https://twitter.com/eniomaiale');"><i class="icon-twitter icon-social"></i> Twitter</a></li>
                                <!--<li><a href="#"><i class="icon-youtube icon-social"></i> Youtube</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#contact-->